In [1]:
import pandas as pd
import requests
import tarfile
import zipfile
from io import StringIO
import datetime as dt

In [40]:
start = dt.datetime.now()
df = pd.read_csv("G:/Users/Gabriel/Documents/Education/UoB/GitHubDesktop/DST-Assessment-03/Data/log_files/1.log",sep= ']:',header=None)
print("Data fetched in:" ,dt.datetime.now()-start)

<ipython-input-40-cfb468c0fc52>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("G:/Users/Gabriel/Documents/Education/UoB/GitHubDesktop/DST-Assessment-03/Data/log_files/1.log",sep= ']:',header=None)

Data fetched in: 0:00:00.344345

In [14]:
df.head()

,0,1
0,Jan 5 08:13:51 161.166.1.22 sshd[42590,pam_unix(sshd:auth): authentication failure; ...
1,Jan 5 08:13:53 161.166.1.22 sshd[42590,Failed password for XXXXX from 216.186.0.161 ...
2,Jan 5 08:13:55 161.166.1.22 sshd[42590,Failed password for XXXXX from 216.186.0.161 ...
3,Jan 5 08:13:57 161.166.1.22 sshd[42590,Failed password for XXXXX from 216.186.0.161 ...
4,Jan 5 08:14:00 161.166.1.22 sshd[42590,Failed password for XXXXX from 216.186.0.161 ...

In [18]:
x = str(1)
type(x)

str

In [20]:
root = "G:/Users/Gabriel/Documents/Education/UoB/GitHubDesktop/DST-Assessment-03/Data/log_files/"
test = root + x +".log"
test

'G:/Users/Gabriel/Documents/Education/UoB/GitHubDesktop/DST-Assessment-03/Data/log_files/1.log'

In [36]:
def log_import(x):
    x = str(x)
    root = "G:/Users/Gabriel/Documents/Education/UoB/GitHubDesktop/DST-Assessment-03/Data/log_files/"
    df = pd.read_csv(root + x +".log",sep= ']:',header=None)
    return(df)

In [80]:
df1 = log_import(1)

"161.166.1.38"

<ipython-input-77-659783ba4f4e>:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(root + x +".log",sep= ']:',names=["drop","log"])

                                                      log
0        pam_unix(sshd:auth): authentication failure; ...
1        Failed password for XXXXX from 216.186.0.161 ...
2        Failed password for XXXXX from 216.186.0.161 ...
3        Failed password for XXXXX from 216.186.0.161 ...
4        Failed password for XXXXX from 216.186.0.161 ...
...                                                   ...
113063   Received disconnect from 161.166.9.198: 11: d...
113064   pam_unix(sshd:session): session closed for us...
113065   pam_unix(sshd:session): session opened for us...
113066   Accepted publickey for XXXXX from 161.166.9.1...
113067   pam_unix(sshd:session): session opened for us...

[113068 rows x 1 columns]

In [175]:
global ip
text_file = open("G:/Users/Gabriel/Documents/Education/UoB/DST/anon_ips_list2.txt")
ip = text_file.read().split(',')
len(ip)
ip[0]

'161.166.1.22'

In [176]:
def log_import(x):
    global ip
    y = str(x)
    root = "https://github.com/Galeforse/DST-Assessment-03/raw/master/Data/log_files/"
    df1 = pd.read_csv(root + y +".log.gz",names=["log"])
    #df1 = df.drop(columns=["drop"],axis=1)    
    df1.insert(0, "anon_ip",ip[x-1], allow_duplicates = True)
    return(df1)

In [177]:
log_import(1)

             anon_ip                                                log
0       161.166.1.22  Jan  5 08:13:51 161.166.1.22 sshd[42590]: pam_...
1       161.166.1.22  Jan  5 08:13:53 161.166.1.22 sshd[42590]: Fail...
2       161.166.1.22  Jan  5 08:13:55 161.166.1.22 sshd[42590]: Fail...
3       161.166.1.22  Jan  5 08:13:57 161.166.1.22 sshd[42590]: Fail...
4       161.166.1.22  Jan  5 08:14:00 161.166.1.22 sshd[42590]: Fail...
...              ...                                                ...
113063  161.166.1.22  Feb 28 23:01:15 161.166.1.22 sshd[52192]: Rece...
113064  161.166.1.22  Feb 28 23:01:15 161.166.1.22 sshd[52192]: pam_...
113065  161.166.1.22  Feb 28 23:01:15 161.166.1.22 sshd[52192]: pam_...
113066  161.166.1.22  Feb 28 23:01:15 161.166.1.22 sshd[52218]: Acce...
113067  161.166.1.22  Feb 28 23:01:15 161.166.1.22 sshd[52218]: pam_...

[113068 rows x 2 columns]

In [178]:
dfs = []
for i in range(1,74):
    global dfs
    dfs.append("df"+str(i))

In [179]:
df1 = log_import(1)
df2 = log_import(2)
df3 = log_import(3)
df4 = log_import(4)
df5 = log_import(5)
df6 = log_import(6)
df7 = log_import(7)
df8 = log_import(8)
df9 = log_import(9)

In [180]:
df10 = log_import(10)
df11 = log_import(11)
df12 = log_import(12)
df13 = log_import(13)
df14 = log_import(14)
df15 = log_import(15)
df16 = log_import(16)
df17 = log_import(17)
df18 = log_import(18)
df19 = log_import(19)

In [181]:
df20 = log_import(20)
df21 = log_import(21)
df22 = log_import(22)
df23 = log_import(23)
df24 = log_import(24)
df25 = log_import(25)
df26 = log_import(26)
df27 = log_import(27)
df28 = log_import(28)
df29 = log_import(29)

In [182]:
df30 = log_import(30)
df31 = log_import(31)
df32 = log_import(32)
df33 = log_import(33)
df34 = log_import(34)
df35 = log_import(35)
df36 = log_import(36)
df37 = log_import(37)
df38 = log_import(38)
df39 = log_import(39)

In [183]:
df40 = log_import(40)
df41 = log_import(41)
df42 = log_import(42)
df43 = log_import(43)
df44 = log_import(44)
df45 = log_import(45)
df46 = log_import(46)
df47 = log_import(47)
df48 = log_import(48)
df49 = log_import(49)

In [184]:
df50 = log_import(50)
df51 = log_import(51)
df52 = log_import(52)
df53 = log_import(53)
df54 = log_import(54)
df55 = log_import(55)
df56 = log_import(56)
df57 = log_import(57)
df58 = log_import(58)
df59 = log_import(59)

In [185]:
df60 = log_import(60)
df61 = log_import(61)
df62 = log_import(62)
df63 = log_import(63)
df64 = log_import(64)
df65 = log_import(65)
df66 = log_import(66)
df67 = log_import(67)
df68 = log_import(68)
df69 = log_import(69)
df70 = log_import(70)
df71 = log_import(71)
df72 = log_import(72)
df73 = log_import(73)

In [156]:
#master_df = df1.append[df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,
#                       df31,df32,df33,df34,df35,df36,df37,df38,df39,df40,df41,df42,df43,df44,df45,df46,df47,df48,df49,df50,df51,df52,df53,df54,df55,df56,df57,df58,
#                       df59,df60,df61,df62,df63,df64,df65,df66,df67,df68,df69,df70,df71,df72,df73]

TypeError: 'method' object is not subscriptable

In [186]:
dftest = pd.concat([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,
                       df31,df32,df33,df34,df35,df36,df37,df38,df39,df40,df41,df42,df43,df44,df45,df46,df47,df48,df49,df50,df51,df52,df53,df54,df55,df56,df57,df58,
                       df59,df60,df61,df62,df63,df64,df65,df66,df67,df68,df69,df70,df71,df72,df73])

In [187]:
dftest

               anon_ip                                                log
0         161.166.1.23  Jan  5 03:23:40 161.166.1.23 sshd[27076]: pam_...
1         161.166.1.23  Jan  5 03:23:42 161.166.1.23 sshd[27076]: Fail...
2         161.166.1.23  Jan  5 03:23:44 161.166.1.23 sshd[27076]: Fail...
3         161.166.1.23  Jan  5 03:23:47 161.166.1.23 sshd[27076]: Fail...
4         161.166.1.23  Jan  5 03:23:49 161.166.1.23 sshd[27076]: Fail...
...                ...                                                ...
30633  161.166.236.154  Feb 23 05:20:38 161.166.236.154 sshd[16644]: I...
30634  161.166.236.154  Feb 23 05:20:41 161.166.236.154 sshd[16662]: I...
30635  161.166.236.154  Feb 23 05:20:44 161.166.236.154 sshd[16708]: I...
30636  161.166.236.154  Feb 23 06:29:04 161.166.236.154 sshd[1282]: Us...
30637  161.166.236.154  Feb 23 06:30:00 161.166.236.154 sshd[1464]: Us...

[15880522 rows x 2 columns]

In [188]:
dftest.to_csv(path_or_buf="G:/Users/Gabriel/Documents/Education/UoB/GitHubDesktop/DST-Assessment-03/Data/master_log.csv.gz",index=False,compression="gzip")